<h1>Thank You</h1>

<!-- select top 5 from orders order by id desc -->
 <% @orders.limit(1).order(id: :desc).each do |order| %>
            You Just Placed Order No - <%= order.id %>
            
            <a href='/paid/<%= order.id %>' class="button">confirm</a>
            <a href='/cart' class="button">back</a>
            
            
            <% end %>

 


<div id="itemsContainer">
    <table id="customers">
        
        <tr>
           
            <th>Title</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Item Total</th>
        </tr>
        
            <% total = 0 %>
            
            
           
            
            
        <% @orderitems.each do |id, quantity| %>
        <% item = Orderitem.find_by_id(id) %>
        
        <tr>
            
         <td class="title"><%= item.title %></td>
          <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
           <td class="title"><%= item.quantity %></td>
           <td class="price"><%= number_to_currency(item.quantity * item.price, :unit =>"€") %></td>
            
            
        </tr>
        
         <% total += item.quantity * item.price %>
         <% end %>
         
         
         
        <tr>
            
            <td>Order Total: <%= number_to_currency(total, :unit =>"€") %></td>
            
        </tr>
        
        <% if total>25  %>
        
        <% deliverycharge = 0%>
         <% session[:deliverycharge] = deliverycharge%>
         
         
        <% elsif  total<=0  %>
        
         <% deliverycharge = 0  %>
        
        <% session[:deliverycharge] = deliverycharge%>
         
         
        <% else total<25  %>
        
        <% deliverycharge = 2.5%>
        <% session[:deliverycharge] = deliverycharge%>
        <% end %>
        
        
        <% overalltotal = deliverycharge + total %>
        
     
        
        <tr>
            <td>
                
                
                Delivery charger is € <%= session[:deliverycharge] %>
                
            </td>
            <td>total : €<%= overalltotal %></td>
             
         
             <% session[:totalpayment]=overalltotal %>
        </tr>
        
        
        </table>
        
        
        
    </div>