<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>


<p>
  <strong>Order id:</strong>
  <%= @order.id %>
</p>


<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

 <% if current_user && current_user.admin? %> 
<%= link_to 'Edit', edit_order_path(@order) %> |

 <% end %>
<%= link_to 'Back', orders_path %>
