<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @item.image_url %>
   <%= link_to (image_tag @item.image_url, :class => "itemholsIm",size:"500*350"), @item %>
  
  
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @item.brand %>
</p>
<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>

<%= link_to 'Back', items_path %>
