 

 <header class="headsec">
  
  
  
      <h1 >good tasty </h1>
      
      <ul >
        <li><%= link_to "Home",  "/" %></li>
        
        <li><%= link_to "Menu", "/menus" %></li>
      
        <li><%= link_to "About", "/aboutpage" %></li>
     
        <li><%= link_to "Help", "/helppage" %></li>
       
         
         
        <li><%= link_to "Contact", "/contact" %></li>
         <% if user_signed_in? %>
         <li><%= link_to "Cart", "/cart" %></li>
           <% end %>
         <p id="notice"><%= notice %></p>
         
        <div class="headertopnav-right">
         
         <% if current_user && current_user.admin? %>
        
         <li><%= link_to "admin", "/manager" %></li>
         
          <% end %>
         
         
            <% if user_signed_in? %>
                 <li><a href="/profile">Hi <%= current_user.email %></a></li>
                 <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
                 <li><%= link_to 'Register', new_user_registration_path %></li> 
                 <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
          
          
         </div>
          
       <div class="headertopnav-right">
       </div>

      </ul>
     
      
    </header>
 
