<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TastyBite</title>
    <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     

     
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    
    <%= render '/layouts/header' %>
    
     
   <%= render 'layouts/search'%>
    
    
    <div class="container">
    <%= yield %>
    
    
  
    </div>
    
    
  
  
   
    
      <%= render '/layouts/footer' %>
    
    
    
    
    
    
    
  </body>
</html>
